*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-image: linear-gradient(135deg, #D8861B, #E93922 )
    
}

#container {
    width: 80%;
    margin-top: 3rem;
}

#btn-new-book {
    padding: 0.5rem;
    margin: 1rem 0rem;

}

dialog {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 0.5rem;
    
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
}

dialog > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog > form > * {
    appearance: none;
    border: none;
    margin: 0.1rem;
}

dialog > form > p > label {
    font-size: 0.8rem;
    margin-bottom: 0.15rem;
}

form > p {
    display: flex;
    flex-direction: column;
}

form > * {
    padding: 0.25rem;
}

form input {
    padding: 0.3rem;
}

form input:focus {
    outline: none;
    border: 3px solid orangered;
}

form > button {
    padding: 0.5rem;
    background-color: orangered;
    color: white;
    font-weight: bold;
}


table {
    width: clamp(450px, 100%, 1000px);
    margin-top: 1rem;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    line-height:2.5rem;
    
}

thead td:first-of-type {
    border-top-left-radius: 0.25rem;
}

thead td:last-of-type {
    border-top-right-radius: 0.25rem;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 0.25rem;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 0.25rem;
}

thead {
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(148, 65, 10);
    padding: 1rem;
   
}

tbody tr:nth-child(even){
    background-color: whitesmoke;
}

tbody tr:nth-child(odd){
    background-color: white;
}

td {
    padding-left: 0.5rem;
}

.read-button {
    border: none;
    padding: 0.25rem;
    color: red;
    border: 2px solid red;
    border-radius: 0.75rem;
    min-width: 100px;
    background-color: inherit;
    
}

.read-button.read {
    color: green;
    border: 2px solid green;
}

i {
    color: orangered
}

i:hover {
    color: rgba(0,0,0,0.25)
}
